.gallery{
    display: inline-block;
    border: 1px solid darkgrey;
    margin: 5px;
    width: 200px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid lightgray;
}
.gallery img{
    width: 100%;
    height: auto;
}